<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Projeto SPA Angular - DIO</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
</mat-toolbar>

<br>

<spa-aluno></spa-aluno>

<br><br>

<spa-professor [valorInicial]="numeroProf"></spa-professor>

<button (click)="remove()"><mat-icon>remove</mat-icon></button>

<button (click)="add()"><mat-icon>add</mat-icon></button>


 

  